{% extends 'base.html' %}
{% load static %}

{% block title %}Product List{% endblock %}

{% block content %}
<h1>Product List</h1>
<div class="row">
    {% for product in products %}
        <div class="col-md-4">
            <div class="card mb-4">
                <img src="{{ product.image.url }}" class="card-img-top" alt="{{ product.name }}">
                <div class="card-body">
                    <h5 class="card-title">{{ product.name }}</h5>
                    <p class="card-text">${{ product.price }}</p>
                    <p class="card-text">
                        Rating:
                        <span class="star-rating" data-rating="{{ product.avg_rating|default:0 }}"></span>
                    </p>
                    <a href="{% url 'product_detail' product.pk %}" class="btn btn-primary">View Product</a>
                </div>
            </div>
        </div>
    {% endfor %}
</div>

<!-- Include jQuery -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
$(document).ready(function() {
    $('.star-rating').each(function() {
        var rating = $(this).data('rating');
        $(this).append(starRatingHtml(rating));
    });

    function starRatingHtml(rating) {
        var stars = '';
        for (var i = 1; i <= 5; i++) {
            stars += i <= rating ? '<span class="star filled">&#9733;</span>' : '<span class="star">&#9733;</span>';
        }
        return stars;
    }
});
</script>
<style>
.star-rating {
    display: inline-block;
}

.star {
    font-size: 24px;
    color: #110e0e;
}

.star.filled {
    color: #ffae00;
}
</style>
{% endblock %}
